{% extends 'nav_log.html' %}
  {% load static %}
    {% block body %}

    <!-- Check Condition True Or Faulse -->

    {% ifequal error "no" %}
    <script>
      alert('Logged In Successfully');
      window.location=('{% url 'home' %}');
    </script>
    {% endifequal %}
    {% ifequal error "yes" %}
    <script>
      alert('Invalid Login Username Password, Please try Again');
    </script>
    {% endifequal %}

      <div class="container mt-5" style="padding:6%; font-family:Book Antiqua;background-color:lightblue;">
        <div class="row">

          <!-- First Col-6 -->

          <div class="col-sm-6 md-5 pt-5" style="background-color:whitesmoke">
            <h2 class="text-center" style="font-weight:bold">New Customer</h2>
            <hr>
            <p>By Creating an Account with our Website ,  U will be able to move through the Curier Service Process and more....
            </p>
            <center><a href="/signup" class="btn btn-danger text-white mt-3">Create an Account</a></center>
          </div>

          <!-- Second Col-6 -->

          <div class="col-sm-6 md-5 pt-5 pb-5" style="background-color:whitesmoke">
            <h2 class="text-center" style="font-weight:bold">User Login</h2>
            <hr>

            <!-- Form Start -->

            <form method="post">
              {% csrf_token %}
              <label>Email Address</label>
                <input type="email" class="form-control" placeholder="Enter Email-id" name="emailid">
              <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="pwd">
                <input type="submit" class="btn btn-success mt-3" value="Login">
            </form>

          </div>
        </div>
      </div>

    {% endblock %}
